.merch{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


@media (max-width:1024px){

    .merch{
        height: 100%;
        grid-template-columns: auto auto ;
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }
    .buttons button{
        width: 25%;
    }

}

@media screen and (max-width:438px){
    .merch{
        height: 100%;
        grid-template-columns: auto ;
    }
}