.store{
    position: relative;
}


.merch{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.ShoppingButton{
    display: none;
}

@media (max-width:1024px){

    .merch{
        height: 100%;
        grid-template-columns: auto auto ;
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }
    .buttons button{
        width: 25%;
    }

}

@media screen and (max-width:438px){
    .merch{
        height: 100%;
        grid-template-columns: auto ;
    }
    .buttons{
        display: none;
    }
    .ShoppingButton{
        display: block;
        position: fixed;
        bottom: 2.5rem;
        right: 3rem;
    }
    .ShoppingButton button{
       padding: 1rem;
       border: none;
       background-color: #63b96a;
       border-radius: 2rem;
    }
}