.contact{
    width: 100%;

    display: flex;

}
.contactForm{

    margin: auto;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    
    
}
.line{
    border-right: solid 1px silver;
  
}
.contactForm h2{
    margin: 2rem;
}
@media (max-width:438px) {

    .contact{
        flex-direction: column;
    }
}